#menu{
    border:solid 5px;
    border-style: solid;
    border-color: blueviolet;
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 15px;
}
#conoceValladolid{
    margin: 15px;

}
#contenedor{
    align-items: center;
    justify-content: center;
}
#flex{
    display: flex;
    flex-direction: row;
}
body{
    background: white;
    display: flex;
    min-height: 100vh;
    display: block;
}
.carta{
    position: relative;
    width: 400px;
    height: 450px;
}

.carta div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1.5s;
    border: 2px solid black;
}

.carta .frontal1{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(prehistoria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.carta .back1{
    background: white;
    transform: perspective(500px) rotateY(180deg);
}
.carta:hover .frontal1{
    transform: perspective(500px) rotateY(180deg);
}
.carta:hover .back1{
    transform: perspective(500px) rotateY(360deg);
}
.carta div h4 {
    position: absolute;
    height: 85%;
    font-size: 20px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.carta .frontal2{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(roma3.jpg);
}
.carta:hover .frontal2{
    transform: perspective(500px) rotateY(180deg);
}
.carta .frontal3{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(edadmedia.jpg);
}
.carta:hover .frontal3{
    transform: perspective(500px) rotateY(180deg);
}
.carta .frontal4{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(reyes2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
}
.carta:hover .frontal4{
    transform: perspective(500px) rotateY(180deg);
}
.carta .frontal5{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(oro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;

}
.carta:hover .frontal5{
    transform: perspective(500px) rotateY(180deg);
}
.carta .frontal6{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(renacimiento2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;

}
.carta:hover .frontal6{
    transform: perspective(500px) rotateY(180deg);
}
.carta .frontal7{
    background: #288ca0;
    transform: perspective(500px) rotateY(0deg);
    border: 1px solid black;
    border-color: #112031;
    background-image: url(valladolid_xx.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
}
.carta:hover .frontal7{
    transform: perspective(500px) rotateY(180deg);
}
.separar{
    margin: bottom 90%;
}