body{
	font-family: arial;
	margin: 10%;
	text-align: left;
	font-size: 14;
}


h1{
	color: skyblue;
	font-size: 30px;
}

img{
	margin: 5px;
	align-content: center;
}

li{
	font-family: arial;
	margin: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14;
}

