h1{
	color: purple;
	font-size: 30px;
	margin-top: 3%;
}

.contenedores > h1{
	color: skyblue;
}

body{
	font-family: arial;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left;
	font-size: 18;
}

.contenedores > img{
	margin: 5px;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 3px;
}

.contenedor{
	font-family: arial;
	margin: 5%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14;
}

.texto{
	text-align: inherit;

}

