h1{
	color: skyblue;
	font-size: 30px;
	margin-top: 3%;

}

body{
	font-family: arial;
	margin: 1%;
	text-align: left;
	font-size: 18;
}

li > img{
	margin: 5px;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 3px;
}

li{
	font-family: arial;
	margin: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 14;
}

.texto{
	text-align: inherit;

}

