@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    display: flex;
    min-height: 100vh;
    display: block;
    margin-bottom: 100px;
}
.divAlMedio{
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeraImagen{
    margin-right: 50px;
}
#introduccion{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contenedores{
        justify-content: center;
        align-items: center;
        text-align: center;
        border: inset 5px;
}